name: 'Build and Release'

on:
    push:
        branches:
            - main

jobs:
    build_and_release:
        name: Build and Release
        uses: sailpoint-oss/.github/.github/workflows/colab-saas-connectivity-release.yml@v1.0.0

