name: 'Build on Pull Request'

on:
    pull_request:
        branches:
            - main

jobs:
    build:
        name: Build on Pull Request
        uses: ./.github/.github/workflows/colab-saas-connectivity-pr.yml

